



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#loadingbg{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: #fff url('bg.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.box{
    width: 450px;
    height: 300px;
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
}

body{
    background-color: burlywood;
}


